*, 
*::before, 
*::after {
    box-sizing: border-box;
}

.container-body {
    display: flex;
    justify-content: space-around;
}

.outer-grid-container {
    border: solid black;
    width: 500px;
    min-width: 300px;
}

.inner-grid-container {
    height: 0;
    padding-bottom: 100%;
    display: flex;
    flex-wrap: wrap;
}

.element {
    flex: 1 1 auto;
    height: 0;
    width: 6.25%; /*Regulated*/
    padding-bottom: 6.25%; /*Regulated*/
}

.slide-container {
    width: 100%;
}

